<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
    <a href="/" style="text-decoration: none; color: inherit;">OSINT Search Tool</a>
    <button id="dark-mode-toggle">Toggle Dark Mode</button>
    </header>
    <main>
        <p>This is Tool 2</p>
    </main>
</body>
</html>
